<div style="grid-column: 2 / 3; border: 1px solid #ccc;">
  <div *ngIf="hasSelectedContent(); else notSelected">
    <div class="post-info">
      <div><img [src]="selectedContent.user.profile_image_url" width="32" height="32"/></div>
      <div>{{selectedContent.user.id}}</div>
      <div>{{selectedContent.created_at}}</div>
    </div>
    <h1>{{selectedContent.title}}</h1>
    <div class="tags">
      <span *ngFor="let tag of selectedContent.tags"
        class="tag"
      >{{tag.name}}</span>
    </div>
    <div class="post-content" [innerHTML]="selectedContent.rendered_body">
    </div>
  </div>
  <ng-template #notSelected>
    <div>Not selected.</div>
  </ng-template>
</div>